@if $use-grids-whitespace == true {

/*------------------------------------*\
    $GRIDS-WHITESPACE
\*------------------------------------*/
/**
 * Simple hack to allow whitespaces between grid items
 *
 * Doc: https://github.com/csswizardry/inuit.css/issues/194
 *
 * ^Hack ^Grids
 *
 */
.grid {
    font-size: 0;
    > * {font-size: $base-font-size;}
    .grid {font-size: 0;}
}

}//endif