/ http://www.jonathantneal.com/blog/understand-the-favicon/
link rel="apple-touch-icon" href="/touchicon.png"
link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-152x152-precomposed.png"
link rel="icon" href="/favicon.png"
/ /[if IE]
/   link rel="shortcut icon" href="/favicon.ico"
/ / or, set /favicon.ico for IE10 win
/ meta name="msapplication-TileColor" content="#D83434"
/ meta name="msapplication-TileImage" content="/tileicon.png"